/*
btn_talk.png
사이즈 80*90
무료채팅{background-position:0 0;}
보이스톡{background-position:-80px 0;}
샵검색{background-position:-160px 0;}
톡게시판{background-position:-240px 0;}
오픈채팅{background-position:-320px 0;}
채널탭{background-position:-400px 0;}

무료채팅:hover{background-position:0 -90px;}
보이스톡:hover{background-position:-80px -90px;}
샵검색:hover{background-position:-160px -90px;}
톡게시판:hover{background-position:-240px -90px;}
오픈채팅:hover{background-position:-320px -90px;}
채널탭:hover{background-position:-400px -90px;}


이전,다음
사이즈 44*44
img_talk_button.png



이전{left:0;background-position:0 0;}
이전:hover{background-position:-70px 0;}

다음{right:0;background-position:0 -70px;}
다음:hover{background-position:-70px -70px;}
*/

#wrap {
	// width: 700px;
	// margin: 0 auto;
	// border: 1px solid #000;
	> header {
		margin: 40px;
		color: #666;
		font-weight: 600;
		text-align: center;
	} //end of header
	> section {
		width: 480px;
		margin: 0 auto;
		position: relative;
		> .slides-button {
			margin-bottom: 20px;
			> ol {
				display: flex;
				width: 480px;
				margin: 0 auto;
				> li {
					width: 90px;
					background-image: url(./../images/btn_talk.png);
					&:nth-child(1) {
						background-position: 0 0px;
						&:hover,
						&.on {
							background-position: 0 -90px;
						}
					}
					&:nth-child(2) {
						background-position: -80px 0;
						&:hover,
						&.on {
							background-position: -80px -90px;
						}
					}
					&:nth-child(3) {
						background-position: -160px 0;
						&:hover,
						&.on {
							background-position: -160px -90px;
						}
					}
					&:nth-child(4) {
						background-position: -240px 0;
						&:hover,
						&.on {
							background-position: -240px -90px;
						}
					}
					&:nth-child(5) {
						background-position: -320px 0;
						&:hover,
						&.on {
							background-position: -320px -90px;
						}
					}
					&:nth-child(6) {
						background-position: -400px 0;
						&:hover,
						&.on {
							background-position: -400px -90px;
						}
					}
					> a {
						display: block;
						height: 90px;
						// border: 1px solid red;
					} //end of a
				} //end of li
			} //end of ol
		} //end of .sildes-button
		> .slides-container {
			position: relative;
			width: 478px;
			height: 438px;
			margin: 0 auto;
			overflow: hidden;
			> ul {
				display: flex;
				flex-flow: row nowrap;
				position: absolute;

				> li {
					width: 478px;

					> a {
						display: block;
						height: 438px;
						// border: 1px solid #000;
					} //end of a
					&:nth-child(1) > a {
						background-image: url(./../images/img_talk_cont1.png);
					}
					&:nth-child(2) > a {
						background-image: url(./../images/img_talk_cont2.png);
					}
					&:nth-child(3) > a {
						background-image: url(./../images/img_talk_cont3.png);
					}
					&:nth-child(4) > a {
						background-image: url(./../images/img_talk_cont4.png);
					}
					&:nth-child(5) > a {
						background-image: url(./../images/img_talk_cont5.png);
					}
					&:nth-child(6) > a {
						background-image: url(./../images/img_talk_cont6.png);
					}
				} //end of li
			} //end of ol
		} //end of .slides-container
		> a {
			position: absolute;
			display: block;
			width: 44px;
			height: 44px;
			text-indent: -9999px;
			background-image: url(./../images/img_talk_button.png);
		}
		> .prev {
			left: -55px;
			top: 300px;
			&:hover {
				background-position: -70px 0;
			}
		}
		> .next {
			right: -55px;
			top: 300px;
			background-position: 0 -70px;
			&:hover {
				background-position: -70px -70px;
			}
		}
	} //end of section
} //end of #wrap

// > .gnb {
//     display: flex;
//     position: relative;
//     width: 480px;
//     margin: 0 auto;
//     border: 1px solid #000;
//     > li {
//         // overflow: hidden;
//         width: 80px;

//         > a {
//             // overflow: hidden;
//             display: block;
//             height: 90px;
//             border: 1px solid red;
//             background-image: url(./../images/btn_talk.png);
//             &:nth-child(1) {
//                 background-position: 0 -90px;
//             }
//         } //end of a
//         &:nth-child(2) > a {
//             background-position: -80px 0;
//         }
//         &:nth-child(3) > a {
//             background-position: -160px 0;
//         }
//         &:nth-child(4) > a {
//             background-position: -240px 0;
//         }
//         &:nth-child(5) > a {
//             background-position: -320px 0;
//         }
//         &:nth-child(6) > a {
//             background-position: -400px 0;
//         }

//         > .lnb {
//             > li {
//                 position: absolute;
//                 width: 478px;
//                 // height: 438px;
//                 &:nth-child(1) {
//                     z-index: 100;
//                 }
//                 > a {
//                     padding-right: 500px;
//                     display: block;
//                     height: 438px;
//                     border: 1px solid #000;
//                 } //end of a
//             } //end of li
//         } //end of.lnb
//         &:nth-child(1) > .lnb > li > a {
//             background-image: url(./../images/img_talk_cont1.png);
//         }
//         &:nth-child(2) > .lnb > li > a {
//             background-image: url(./../images/img_talk_cont2.png);
//         }
//         &:nth-child(3) > .lnb > li > a {
//             background-image: url(./../images/img_talk_cont3.png);
//         }
//         &:nth-child(4) > .lnb > li > a {
//             background-image: url(./../images/img_talk_cont4.png);
//         }
//         &:nth-child(5) > .lnb > li > a {
//             background-image: url(./../images/img_talk_cont5.png);
//         }
//         &:nth-child(6) > .lnb > li > a {
//             background-image: url(./../images/img_talk_cont6.png);
//         }
//     } //end of li
// } //end of.gnb
